body {
    background-image: url("https://www.freepik.es/vector-gratis/fondo-medico-azul-moderno_4864015.htm"); ;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: 100% 100%;
}

